<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.taobao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="test.blue.stack.loader.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.taobao.tao.welcome.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.taobao.scan.MainActivity" >
            <intent-filter>
                <action android:name="com.taobao.scan.MainActivity" />

                <data
                    android:host="scancode.m.taobao.com"
                    android:path="/container"
                    android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="bundleLocation"
                android:value="com.taobao.android.scancode" />
        </activity>
        <activity android:name="com.taobao.scan.SaneService" >
        </activity>
        <activity android:name="com.taobao.android.gamecenter.main.GcContainerActivity" >
        </activity>

        <service
            android:name="com.taobao.android.gamecenter.download.GcAppDownLoadService"
            android:exported="false" >
            <meta-data
                android:name="bundleLocation"
                android:value="com.taobao.android.gamecenter" />
        </service>

        <activity android:name="com.taobao.android.gamecenter.main.ActivityInternalActivity" >
        </activity>

        <receiver
            android:name="com.taobao.android.gamecenter.GameStaticReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.taobao.android.gamecenter.GameStaticReceiver" >
                </action>
            </intent-filter>
        </receiver>

<!--         <provider
            android:name="com.taobao.android.gamecenter.AppProvider"
            android:authorities="appcenter"
            android:enabled="true"
            android:exported="false" >
        </provider> -->
        <provider
            android:name="com.taobao.tao.proxy.TBLocationContentProviderProxy"
            android:authorities="appcenter"
            android:enabled="true"
            android:exported="true" >
        </provider>
        
                <activity
            android:name="com.taobao.android.game2.main.GcContainerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.taobao.android.game2.download.GcAppDownLoadService"
            android:exported="false" >
            <meta-data
                android:name="bundleLocation"
                android:value="com.taobao.android.game2" />
        </service>

        <receiver
            android:name="com.taobao.android.game2.GameStaticReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.taobao.android.game2.GameStaticReceiver" >
                </action>
            </intent-filter>
        </receiver>

        <activity android:name="com.taobao.android.game2.main.ActivityInternalActivity">  </activity>

<!--         <provider
            android:name="com.taobao.android.game2.AppProvider"
            android:authorities="appcenter2"
            android:enabled="true"
            android:exported="false" >
        </provider> -->
    </application>

</manifest>